<footer class="site-footer h-card">
  
</footer>

<script src="/assets/js/horadric-helper.config.js"></script>

<script>
  function generateLinkMarkup($contentElement) {
    const headings = [...$contentElement.querySelectorAll('h1, h2')]
    const parsedHeadings = headings.map(heading => {
      return {
        title: heading.innerText,
        depth: heading.nodeName.replace(/\D/g,''),
        id: heading.getAttribute('id')
      }
    })
    const htmlMarkup = parsedHeadings.map(h => `
    <li class="${h.depth > 1 ? 'pl-4' : ''}">
      <a href="#${h.id}">${h.title}</a>
    </li>
    `)
    const finalMarkup = `
      <ul>${htmlMarkup.join('')}</ul>
    `
    return finalMarkup
  }

  var main = document.querySelector('article.markdown');
  var toc = document.querySelector('ul.toc-items');
  var mobileToc = document.querySelector('ul.mobile-toc-items');
  var markup = generateLinkMarkup(main);
  toc.innerHTML = markup;
  mobileToc.innerHTML = markup;

</script>